@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Box Model Hack */
* {
     box-sizing: border-box;
     margin: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


/******************************************
/* LAYOUT
/*******************************************/

/* Header */
/* *************************************** */
header > div {
     display: flex;
     flex-direction: column;
     width: 100%;
     border-bottom: 5px solid silver;
}

header > div > h3 {
     margin: 0.5rem 0 0.5rem 2.5rem;
}

header > div > ul {
     display: flex;
     justify-content: space-between;
     list-style-type: none;
     padding-bottom: 1rem;
}

.followbtn {
     padding: 0.5rem 1.5rem;
     background-color: white;
     border-radius: 5px;
     border: 1px solid grey;
}

.followbtn:hover{
     background-color: silver;
     cursor: pointer;
}

input{
     border: 1px solid grey;
     border-radius: 5px;
     padding: 0.5rem 3rem 0.5rem 2.5rem;
     display: block;
     width: 100%;
     outline: 0;
     margin-right: 2.5rem;
}

.form-input{
     float: left;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
}

.icon{
     position: absolute;
     left: 15px;
     top: 0;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}

/* #one */
/* ******************************* */
#one > div{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100px;
     height: 300px;
     width: 100%;
}

.get-started > p {
     font-family: 'Montserrat', sans-serif;
     font-size: 50px;
     margin-bottom: 1.5rem;
     font-weight: bold;
}

.get-started > p > span {
     font-style: italic;
}

.get-started > a > button {
     padding: 1rem 1rem;
     font-size: 50px;
     color: white;
     background-color: black;
     cursor: pointer;
}

/* #two */
/* **************************************** */

#two {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 200px;
     width: 100%;
}

#two > .model-one {
     padding-right: 5rem;
}


#two > .headline-one > h1 {
     font-size: 80px;
}

#two > .headline-one > p {
     font-size: 45px;
     font-family: 'Montserrat', sans-serif;
}

/* #three */
/* **************************************** */
#three {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 200px;
     width: 100%;
}

#three > .headline-two {
     margin-right: 5rem;
}

#three > .headline-two > h1 {
     font-size: 80px;
}

#three > .headline-two > p {
     font-size: 45px;
     font-family: 'Montserrat', sans-serif;
}




/* #four */
/* ***************************************** */

#four {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 200px;
     width: 100%;
}

#four > .model-three {
     padding-right: 5rem;
}



#four > .headline-three > h1 {
     font-size: 80px;
}

#four > .headline-three > p {
     font-size: 45px;
     font-family: 'Montserrat', sans-serif;
}

/* #five */
/* **************************************** */

#five > div {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100px;
     padding: 1rem 0;
     width: 100%;
}

/* #six */
/* **************************************** */

#six {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100px;
     height: 300px;
     width: 80%;
     margin: 0 10%;
     text-align: center;
}

#six > div > a > button {
     padding: 1rem 1rem;
     font-size: 50px;
     color: white;
     background-color: black;
     cursor: pointer;
}

#six > div > p {
     font-family: 'Montserrat', sans-serif;
     font-size: 80px;
     margin-top: 3.5rem;
     font-weight: bold;
}

/* #seven */
/* **************************************** */

#seven{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     margin-top: 15px;
}

/* #eight */
/* **************************************** */

#eight > div > img {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     width: 100%;
}


/* #nine */
/* **************************************** */

#nine > div > img {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     width: 100%;
}

/* #footer */
/* **************************************** */
#footer > div {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100px;
     height: 300px;
     width: 100%;
}

#footer > div > p {
     margin: 25px 0;
     font-family: 'Montserrat', sans-serif;

}

#footer > div > ul {
     display: flex
}

#footer > div > ul > li {
     list-style-type: none;
     padding-right: 20px;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (max-width: 1500px) {
     #two > div > img {
          width: 100%;
     }

     #two > .model-one {
          padding-right: 0;
          padding-top: 2rem;
     }

     #two {
          flex-wrap: wrap;
     }

     #three > div > img {
          width: 100%;
     }
     
     #three > .headline-two {
          margin: 0;
     }

     #three {
          flex-wrap: wrap-reverse;
     }

     #four > div > img {
          width: 100%;
     }

     #four > .model-three {
          padding-right: 0;
          padding-top: 2rem;
     }

     #four {
          flex-wrap: wrap;
     }

     #five > div{
          justify-content: flex-start;
     }

     #five > div > video {
          width: 100%;
     }

     #seven > div > img {
          width: 100%;
     }

}

@media (max-width: 600px){
     #two > .headline-one > h1 {
          font-size: 70px;
     }
     
     #two > .headline-one > p {
          font-size: 30px;
     }

     #three > .headline-two {
          margin: 0;
     }

     #three > .headline-two > h1 {
          font-size: 70px;
     }
     
     #three > .headline-two > p {
          font-size: 30px;
     }

     #four > .headline-three > h1 {
          font-size: 70px;
     }
     
     #four > .headline-three > p {
          font-size: 30px;
     }
}